@page "/"
@using MudBlazor
@using LinkGeek.Pages.Shared
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>My feed - LinkGeek</PageTitle>

<div class="text-center">
    <h1 class="display-4">Welcome to LinkGeek</h1>
</div>

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <PostPartial/>
    <FeedPartial/>
}