@page "/feed"
@using MudBlazor
@using LinkGeek.Pages.Shared

<PageTitle>My feed - LinkGeek</PageTitle>

<div class="text-center">
    <h1 class="display-4">Welcome to LinkGeek</h1>
</div>

<PostPartial />