@using LinkGeek.Pages.Shared
@model LinkGeek.Areas.Discoverability.Pages.UserCardsModel


    @{
        if(Model.Users.Count != 0) 
        {
            foreach (var user in Model.Users)
            {
                <li class="user-card">
                    @await Html.PartialAsync("_UserCardPartial", new UserCardModel(user, false))
                </li>
            }
        }
        else
        {
            <div>No new users</div>
        }
    }
