@using LinkGeek.Pages.Shared
@model LinkGeek.Areas.Discoverability.Pages.UserCardsModel

<ul class="user-cards">
    @{
        if(Model.Users.Count != 0) 
        {
            foreach (var user in Model.Users)
            {
                <li class="user-card">
                    @await Html.PartialAsync("_UserCardPartial", new UserCardModel(user, false, null))
                </li>
            }
        }
        else
        {
            <div>No new users</div>
        }
    }
</ul>