@using LinkGeek.Pages.Shared
@model LinkGeek.Areas.Discoverability.Pages.UserCardsModel

<ul class="user-cards">
    @{
        foreach (var user in Model.Users)
        {
            <li class="user-card">

                @await Html.PartialAsync("_UserCardPartial", new UserCardModel(user, false))
            </li>
        }
    }
</ul>