@page "/discover"
@using LinkGeek.Pages.Shared

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <PageTitle>Discover - LinkGeek</PageTitle>

@if (users == null || users.Count == 0)
{
    <button @onclick="OpenPack" id="open-pack">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmistertcg.com.au%2Fwp-content%2Fuploads%2F2021%2F04%2F4-768x1280.png&f=1&nofb=1" alt="booster pack image">
    </button>
}
else
{
    <div class="user-carousel">
        <div class="user-card-container" id="user-cards">
            <ul class="user-cards">
                @foreach (var user in users)
                {
                    <li class="user-card">
                        <UserCardPartial DisplayedUser="@user" IsCurrentUser="false"/>
                    </li>
                }
            </ul>
        </div>
        <button onclick="selectPrev()" class="action-button add-friend previous-button">
            <div class="arrow">
                <i class="bi bi-chevron-left"></i>
            </div>
        </button>
        <button onclick="selectNext()" class="action-button add-friend next-button">
            <div class="arrow">
                <i class="bi bi-chevron-right"></i>
            </div>
        </button>
    </div>
}
}