@page "/discover"
@using LinkGeek.Pages.Shared

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <PageTitle>Discover - LinkGeek</PageTitle>

    @if (users == null || users.Count == 0)
    {
        <button @onclick="OpenPack" id="open-pack">
            <div class="wrapper">
                <div class="profilePictureBackground">
                    <div class="profilePicture">
                        <img src="/Content/Images/DefaultProfilePic.jpg" alt="Default Profile picture"/>
                    </div>
                </div>

                <div class="profileSpecifications">
                    <h1>Who will it be?</h1>
                    <p2>
                        <span id="userLocation">Where will they be?</span>
                    </p2>
                    <div class="gameInterests">
                        <h1>CLICK HERE TO FIND OUT</h1>
                    </div>
                </div>
            </div>
        </button>
    }
    else
    {
        <div class="user-carousel">
            <div class="user-card-container" id="user-cards">
                <ul class="user-cards">
                    @foreach (var user in users)
                    {
                        <li class="user-card">
                            <UserCardPartial DisplayedUser="@user" IsCurrentUser="false"/>
                        </li>
                    }
                </ul>
            </div>
            <button onclick="selectPrev()" class="action-button add-friend previous-button">
                <div class="arrow">
                    <i class="bi bi-chevron-left"></i>
                </div>
            </button>
            <button onclick="selectNext()" class="action-button add-friend next-button">
                <div class="arrow">
                    <i class="bi bi-chevron-right"></i>
                </div>
            </button>
        </div>
    }
}