@page
@model LinkGeek.Areas.Discoverability.Pages.Test
@{
    ViewData["Title"] = "Discoverability";
}


<div>
    Hello world    
    <img src="https://blznav.akamaized.net/img/games/logo-wow-3dd2cfe06df74407.png">
</div>
