@page
@using LinkGeek.Areas.Discoverability.Pages
@using Microsoft.AspNetCore.Identity
@using LinkGeek.AppIdentity
@model LinkGeek.Areas.Discoverability.Pages.DiscoverabilityModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Discoverability";
}

<div class="carousel">
    <div class="user-card-container" id="user-cards">
        @await Html.PartialAsync("_UserCardsPartial", new UserCardsModel(Model.UserCards))

        <button id="open-pack">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmistertcg.com.au%2Fwp-content%2Fuploads%2F2021%2F04%2F4-768x1280.png&f=1&nofb=1" alt="booster pack image">
            <span>Open pack</span>
        </button>
    </div>
</div>

@section scripts{
    <script src="/js/user-card-carousel.js"></script>
    <script src="/js/game-logo-carousel.js"></script>
    <script src="/js/sounds.js"></script>
}

@section Styles
{
    <link rel="stylesheet" href="~/css/user-carousel.css" asp-append-version="true"/>
}