@page
@model LinkGeek.Areas.ProfileCard.Pages.mainModel

<div class="wrapper">

  
  <div class="profilePictureBackground">
    <div class="profilePicture">
      <img src="https://i0.wp.com/www.followchain.org/wp-content/uploads/2022/03/good-tiktok-profile-picture-2.jpg?w=421&ssl=" alt="Profile picture">
      </div>
  </div>
  <!-- overview info -->
  
  <div class="profileSpecifications">
    <h1> Smaraktara </h1>
         <p2>
           Oslo</p2>
    <p> Hey! </p>
    
    <div class="gameInterests">
      <div class="feature">
        <div class="featureIcon">
        </div>
        <div class="featureText">
          <p>Diablo</p>
        </div>
      </div>
      <div class="feature">
        <div class="featureIcon">
        </div>
         <div class="featureText">
          <p>World of Warcraft</p>
        </div>
       </div>
      <div class="feature">
        <div class="featureIcon">
        </div>
         <div class="featureText">
          <p>League of Legends</p>
        </div>
        </div>
      <div class="feature">
        <div class="featureIcon">
        </div>
         <div class="featureText">
          <p>The Witcher 3</p>
        </div>
      </div>
    </div>
    
      <button class="add">
        <p>Add friend</p>
        <div class="addfriend">
         <svg
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
    fill="currentColor"
  />
</svg>
        </div>
      </button> 
  </div>
  <!-- product specificaiton -->
  
</div>
<!-- wrapper-->
