@page "/games"

<div class="game-search">
    <EditForm Model="@search" OnSubmit="@Search">
        <div class="input-group">
            <InputText class="form-control" id="name" @bind-Value="search.Search"/>
            <button type="submit" class="btn btn-primary input-group-addon">
                <i class="bi-search"></i>
            </button>
        </div>
    </EditForm>
    <div class="game-cards-container">
        @foreach (var game in results)
        {
            <GameCard Game="@game"/>
        }
    </div>
</div>