html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 576px) {
  body {
    padding: 0;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container-sm {
  padding: 0;
}

.footer-chat>.mud-input-control {
  margin-top: 0;
}

.footer-chat>.mud-input-control>.mud-input-control-input-container>div.mud-input.mud-input-text {
  margin-top: 0;
}

.modal-input {
    width: 100%;
    padding: .5rem;
}

.mud-input-slot, .mud-button-label {
  color: white !important;
}

.mud-input-label {
  color: white !important;
}

.widget-post .mud-paper {
  background-color: rgb(60, 60, 60);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.mud-list {
  background-image: var(--bg-shape-color);
  color: white;
}

.mud-list .mud-typography {
  overflow: hidden;
}

.widget-post p {
  color: white;
}

.sk-chase-dot::before {
  background-color: white !important;
}
.friend.col-3 {
  scale: 0.59;
  list-style-type: none;
  margin-top: -9rem;
  margin-bottom: -12rem;
}

.chat-chase {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}