$carousel-items: 5;

input[type=radio] {
    display: none;
}

ul.horizontal-list {
    list-style: none;
    overflow-y: auto;
    padding: 0;
    min-height: 200px;
    max-height: 400px;
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

ul.horizontal-list::-webkit-scrollbar {
    display: none;
}

ul.horizontal-list li {
    display: inline-block;
    width: 33%;
    padding: 0;
}

.user-card {
    position: absolute;
    width: 60%;
    height: fit-content;
    max-height: 600px;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .8s ease;
    cursor: pointer;
    border-radius: 10px;
}

.user-card-container {
    margin: auto;
    padding: 30px 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;

    width: 100%;
    max-width: 800px;
    max-height: 800px;
    height: 100%;
    transform-style: preserve-3d;
    flex-direction: column;
}

.user-cards {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

@for $i from 0 through ($carousel-items) {
    #item-#{$i}:checked ~ .user-cards #user-#{($i - 2) % $carousel-items} {
        transform: translatex(-100%) scale(.4) hidden;
        opacity: 0;
        visibility: hidden;
    }
    
    #item-#{$i}:checked ~ .user-cards #user-#{($i - 1) % $carousel-items} {
        transform: translatex(-100%) scale(.7);
        opacity: .7;
    }

    #item-#{$i}:checked ~ .user-cards #user-#{$i}{
        transform: translatex(0) scale(1);
        opacity: 1;
    }
    
    #item-#{$i}:checked ~ .user-cards #user-#{($i + 1) % $carousel-items}{
        transform: translatex(100%) scale(.7);
        opacity: .7;
    }
    
    #item-#{$i}:checked ~ .user-cards #user-#{($i + 2) % $carousel-items} {
        transform: translatex(100%) scale(.4);
        opacity: 0;
        visibility: hidden;
    }
}
