@inherits LayoutComponentBase
@using Microsoft.AspNetCore.SignalR.Client;

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData"/>
        @*<audio id="notification" src="/media/notification.mp3" /> *@
    </Found>
    <NotFound>
        <h1>Page not found</h1>
        <p>Sorry, but there's nothing here!</p>
    </NotFound>
</Router>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
 