@page "/myFriends"
@using LinkGeek.Pages.Shared

@if (AuthenticationStateProvider.GetAuthenticationStateAsync().Result.User.Identity.IsAuthenticated)
{
    <a href="/pendingFriendsRequests" class="btn-primary"> Pending friends requests </a>
    <div class="friends-search">
        <EditForm Model="@search" OnSubmit="@Search">
            <div class="input-group">
                <InputText class="form-control" id="name" @bind-Value="search.Search"/>
                <button type="submit" class="btn btn-primary input-group-addon">
                    <i class="bi-search"></i>
                </button>
            </div>
        </EditForm>
        <div class="game-cards-container">
            @if (friendList.Count > 0)
            {
                <lu class="friend-list row">
                    @foreach (var friend in friendList)
                    {
                        <li class="friend col-3">
                            <UserCardPartial DisplayedUser="@friend" IsCurrentUser="false"/>
                        </li>
                    }
                </lu>
            }
            else
            {
                <h1>
                    Add some friends!
                </h1>
            }
        </div>
    </div>
}