.chat-container {
    padding: 0;
    background-color: var(--bg-shape-color);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 80vh;
    visibility: visible;
}

.discussions {
    height: 80vh;
    box-shadow: 0px 8px 10px rgba(0,0,0,0.20);
    overflow: hidden;
    background-color: var(--bg-shape-color);
    display: inline-block;
}

.discussions .discussion {
    height: 90px;
    background-color: var(--bg-shape-color);
    border-bottom: solid 1px #E0E0E0;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.discussions .search {
    display:flex;
    align-items: center;
    justify-content: center;
    color: #373b3e;
    height: 10%;
}

.discussions .search .searchbar {
    height: 40px;
    background-color: #373b3e;
    width: 70%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #EEEEEE;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.discussions .search .searchbar input {
    margin-left: 15px;
    background-color: #373b3e;
    height:38px;
    width:100%;
    border:none;
    font-family: 'Montserrat', sans-serif;;
}

.discussions .search .searchbar *::-webkit-input-placeholder {
    color: #E0E0E0;
}
.discussions .search .searchbar input *:-moz-placeholder {
    color: #E0E0E0;
}
.discussions .search .searchbar input *::-moz-placeholder {
    color: #E0E0E0;
}
.discussions .search .searchbar input *:-ms-input-placeholder {
    color: #E0E0E0;
}

.discussions .message-active {
    width: 100%;
    height: 90px;
    background-color: #373b3e;
    border-bottom: solid 1px #E0E0E0;
}

.discussions .discussion .photo {
    margin-left:20px;
    display: block;
    width: 60px;
    height: 60px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.online {
    position: relative;
    top: 30px;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8BC34A;
    border-radius: 13px;
    border: 3px solid #FAFAFA;
}

.desc-contact {
    height: 43px;
    width:50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discussions .discussion .name {
    margin: 0 0 0 20px;
    font-family:'Montserrat', sans-serif;
    font-size: 11pt;
    color:#747272;
    text-decoration: none;
}

.discussions .discussion .message {
    margin: 6px 0 0 20px;
    font-family:'Montserrat', sans-serif;
    font-size: 9pt;
    color:#FFFFFF;
}

.timer {
    margin-left: 15%;
    font-family:'Open Sans', sans-serif;
    font-size: 11px;
    padding: 3px 8px;
    color: #BBB;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 15px;
}

.chat {
    height:80vh;
    position: relative;
    padding-left: 1rem;
}

.header-chat {
    background-color: #FFF;
    height: 10%;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.100);
    display:flex;
    align-items: center;
    background: #373b3e;
}

.chat .header-chat .icon {
    margin-left: 30px;
    color:#747272;
    font-size: 14pt;
}

.chat .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 18pt;
    color:#FFF;
    text-decoration: none;
}

.chat .header-chat .right {
    position: absolute;
    right: 40px;
}

.chat .messages-chat {
    height: 80%;
    overflow: auto;
    width: 100%
}

.chat .messages-chat .message {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
}

.chat .messages-chat .message .photo {
    display: block;
    width: 60px;
    height: 60px;
    background: #E6E7ED;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chat .messages-chat .text {
    margin: 0 25px;
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 12px;
    color:#0F1620;
}

.text-only {
    margin-right: 2px;
}

.time {
    font-size: 10px;
    color:lightgrey;
    margin-bottom:10px;
}

.response-time {
    float: right;
    margin-right: 40px !important;
}

.response {
    float: right;
    margin-right: 0px !important;
    margin-left:auto; /* flexbox alignment rule */
}

.response .text {
    background-color: #e3effd !important;
}

.chat>.footer-chat {
    position: absolute;
    display:flex;
    align-items: center;
    bottom: 0;
    background-color: #222;
    border-top: 2px solid #EEE;
    height: 10%;
    width: 100%
}

.chat .footer-chat .icon {
    color:#C0C0C0;
    font-size: 14pt;
}

.chat .footer-chat .send {
    color:#fff;
    background-color: #4f6ebd;
    position: absolute;
    right: 50px;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
}

.chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family:'Montserrat', sans-serif;
    font-size: 13pt;
    color:#373b3e;
}

.chat .footer-chat .right {
    position: absolute;
    right: 40px;
}

.write-message {
    border:none !important;
    height: 50px;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
}

.footer-chat *::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}
.footer-chat input *:-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}
.footer-chat input *::-moz-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
    margin-left:5px;
}
.footer-chat input *:-ms-input-placeholder {
    color: #C0C0C0;
    font-size: 13pt;
}

.clickable {
    cursor: pointer;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}

.input-group {
    padding-right: 10px;
}

.input-group-addon {
    margin-left: 10px;
}

.no-friends {
    padding-left: .6rem;
}

.time-other {
    text-align: left;
    margin-left: 25px;
}

.time-self {
    text-align: right;
    margin-right: 25px;
}
